header {
    background-image: url('https://img.freepik.com/free-photo/white-marble-texture-background_42682-249.jpg?size=626&ext=jpg');
    background-size: cover;
    box-shadow: 10px 10px 10px 0 white inset, -10px -10px 10px 0 white inset;
    border-style: solid;
    border-color: #B3803C;
    border-width: 10px;
    padding-top: 13%;
    padding-bottom: 13%;
}

.mainlogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.mainlogo:hover {
    transform: scale(1.1);
    transition-duration: 0.3s;
}

h1 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    font-size: smaller;
    color: #B3803C;
}